.game-container {
    height: 65vh;
    width: 130vh;
    min-height: 250px;
    min-width: 500px;
    position: relative;
    top: calc(50vh - (65vh / 2));
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
    background: #eee;
    border: 1px solid black;
}

.list-item {
    border-bottom: 1px solid black;
}